.library{
    position: fixed;
    top: 0;
    left: 0;
    width: 25%;
    height: 100vh;
    overflow: scroll;
    margin-top: 10rem;
    padding-top: 20rem;
    transform: translateX(-100%);
    opacity: 0;
    transition: all 1s ease;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2{
        position: absolute;
        top: 0;
    }
}

.library-song{

    color: #fff;
    gap: 1rem;
    text-align: center;
    margin: .5rem;
    padding: 1rem .5rem .5rem;
    transition: all 1s ease;
    opacity: .3;

    .song-name{
        font-size: .5em;
    }
    .song-artist{
        font-size: .5em;
    }
    .song-name, .song-artist{
        letter-spacing: 2px;
    }

    img{
        width: 15vh;
        min-width: 100px;
        margin: .5rem;
        border-radius: 15px;
    }

    &:hover{
        transform: scale(1.1);
        color: #fff;
        opacity: .8;
    }
}

.library-songs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    margin: 28rem 0;
    padding: 15rem 0 5rem;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
    height: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #fff;
}

.selected{
    transform: scale(1.2);
    color: #fff;
    margin: 1rem 0;
    opacity: 1;
}

.library-active{
    transform:translate(0);
    opacity: 1;
}

.relative{
    position: relative;
}