.library{
    position: fixed;
    top: 10%;
    left: 0;
    width: 20%;
    height: 100%;
    overflow: scroll;
    margin: 1rem 1rem 0 0;
    padding-bottom: 3rem;
    transform: translateX(-100%);
    transition: all 1s ease;
    opacity: 0;
}

.library-song{

    color: #fff;
    text-align: center;
    // border: 1px solid #fff;
    margin: .5rem 3rem;
    padding: .5rem 0;
    cursor: pointer;
    border-radius: 15px;

    &:hover{
            background-color: rgba(215, 201, 238, 0.526);
            color: #333;
        }

    .song-name{
        font-size: .75em;
    }
    .song-artist{
        font-size: .5em;
    }
    .song-name, .song-artist{
        letter-spacing: 2px;
    }

    img{
        width: 3rem;
        margin: 0;
    }
}

.library-songs{
    display: flex;
    flex-direction: column;
}

*{
    scrollbar-width: thin;
    scrollbar-base-color: aquamarine;
    scrollbar-face-color: rgba(240, 255, 255, 0.452) transparent;
}

*::-webkit-scrollbar{
    width: 5px;
}

*::-webkit-scrollbar-track{
    background: transparent;
}

*::-webkit-scrollbar-thumb{
    background-color: aquamarine;
    border-radius: 20px;
    border: transparent;
    box-shadow: 3px 5px 20px #fff;
}

.selected {
    background-color: rgb(213, 197, 244);
    color: #333;
}

.active-library{
    transform: translateX(0%);
    opacity: 1;
}