*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
    width: 100vw;
    height: 100vh;
}


.App{

    text-align: center;
    padding: 1rem;

    .inner-wrapper{
        text-align: left;
        h1, h3{
            color: rgba(255, 255, 255, 0.622);
        }
    }
}





@import "./_player";
@import "./_song";
@import "./_library";