* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #000;
  width: 100vw;
  height: 100vh;
}

.App {
  text-align: center;
  padding: 1rem;
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
  height: 100vh;
  overflow-x: hidden;
}

.App .inner-wrapper {
  text-align: left;
}

.App .inner-wrapper h1, .App .inner-wrapper h3 {
  color: rgba(255, 255, 255, 0.622);
}

.inner-app-wrapper {
  margin: 0 0 0 10rem;
}

.inner-wrapper {
  -webkit-transition: 1s all ease;
  transition: 1s all ease;
}

.slide-active {
  -webkit-transform: translateX(10%);
          transform: translateX(10%);
  margin-right: -100px;
}

.Player {
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: rgba(255, 255, 255, 0.514);
}

.Player .time-control {
  width: 50%;
  min-width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #4d4d4d1e;
  padding: 1rem 2rem;
  color: #fff;
}

.Player .time-control p {
  padding: 0 1rem 0;
}

.Player .time-control .slider {
  width: 100%;
}

.Player .play-control {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.Player .play-control svg:active {
  color: #fff;
}

.Player .play-control svg:focus {
  color: #fff;
}

.Player .play-control svg:hover {
  color: #fff;
}

.song-wrapper {
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(255, 255, 255, 0.532);
}

.song-wrapper h1, .song-wrapper h2, .song-wrapper h3, .song-wrapper h4, .song-wrapper h5, .song-wrapper h6, .song-wrapper p {
  padding: 1rem;
}

.song-wrapper img.album-cover {
  width: 50vh;
  height: auto;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
}

.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 100vh;
  overflow: scroll;
  margin-top: 10rem;
  padding-top: 20rem;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.library h2 {
  position: absolute;
  top: 0;
}

.library-song {
  color: #fff;
  gap: 1rem;
  text-align: center;
  margin: .5rem;
  padding: 1rem .5rem .5rem;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  opacity: .3;
}

.library-song .song-name {
  font-size: .5em;
}

.library-song .song-artist {
  font-size: .5em;
}

.library-song .song-name, .library-song .song-artist {
  letter-spacing: 2px;
}

.library-song img {
  width: 15vh;
  min-width: 100px;
  margin: .5rem;
  border-radius: 15px;
}

.library-song:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #fff;
  opacity: .8;
}

.library-songs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100vh;
  margin: 28rem 0;
  padding: 15rem 0 5rem;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
  height: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

.selected {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #fff;
  margin: 1rem 0;
  opacity: 1;
}

.library-active {
  -webkit-transform: translate(0);
          transform: translate(0);
  opacity: 1;
}

.relative {
  position: relative;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 3rem;
}

nav svg {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  border: 1px solid #c8c5c5;
  border-radius: 50%;
  padding: .75rem;
  color: #fff;
}

nav svg:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: #fff;
  color: #000;
}
/*# sourceMappingURL=style.css.map */