* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #000;
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto Slab', serif;
}

.App {
  text-align: center;
  padding: 1rem;
}

.App .inner-wrapper {
  text-align: left;
}

.App .inner-wrapper h1, .App .inner-wrapper h3 {
  color: rgba(255, 255, 255, 0.622);
  font-weight: 400;
}

.Player {
  min-height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: rgba(255, 255, 255, 0.514);
}

.Player .time-control {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #4d4d4d1e;
  padding: 1rem 2rem;
  color: #fff;
}

.Player .time-control p {
  padding: 0 1rem 0;
}

.Player .time-control .slider {
  width: 100%;
}

.Player .play-control {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.Player .play-control svg:active {
  color: #fff;
}

.Player .play-control svg:focus {
  color: #fff;
}

.Player .play-control svg:hover {
  color: #fff;
}

.song-wrapper {
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(255, 255, 255, 0.532);
}

.song-wrapper h1, .song-wrapper h2, .song-wrapper h3, .song-wrapper h4, .song-wrapper h5, .song-wrapper h6, .song-wrapper p {
  padding: 1rem;
}

.song-wrapper img.album-cover {
  width: 50vh;
  height: auto;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
}

.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  overflow: scroll;
  margin: 6rem 1rem 0 0;
}

.library-song {
  color: #fff;
  gap: 1rem;
  text-align: center;
  margin: .5rem 0rem;
  padding: .5rem 0;
  cursor: pointer;
}

.library-song:hover {
  background-color: rgba(195, 167, 240, 0.322);
}

.library-song .song-name {
  font-size: 1.25em;
}

.library-song .song-artist {
  font-size: 1em;
}

.library-song .song-name, .library-song .song-artist {
  letter-spacing: 2px;
}

.library-song img {
  width: 15vh;
  margin: .5rem;
}

.library-songs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* {
  scrollbar-width: thin;
  scrollbar-base-color: aquamarine;
  scrollbar-face-color: rgba(240, 255, 255, 0.452) transparent;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: aquamarine;
  border-radius: 20px;
  border: transparent;
  -webkit-box-shadow: 3px 5px 20px #fff;
          box-shadow: 3px 5px 20px #fff;
}

.selected {
  background-color: rgba(195, 167, 240, 0.322);
}
/*# sourceMappingURL=style.css.map */